<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/components/common :: header(value='Register')}"></div>
<body class="bg-light">
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">context</th>
            <th scope="col">year</th>
            <th scope="col">resources</th>
            <th scope="col">influence</th>
            <th scope="col">army</th>
            <th scope="col">religion</th>
            <th scope="col">population</th>
            <th scope="col">economy</th>
            <th scope="col">souls</th>
            <th scope="col">Select</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="qv,iter : ${answers}">
            <td th:text="${iter.index} + 1"></td>
            <td th:text="${qv.getContext()}"></td>
            <td th:text="${qv.getYear()}"></td>
            <td th:text="${qv.getResources()}"></td>
            <td th:text="${qv.getInfluence()}"></td>
            <td th:text="${qv.getArmy()}"></td>
            <td th:text="${qv.getReligion()}"></td>
            <td th:text="${qv.getPopulation()}"></td>
            <td th:text="${qv.getEconomy()}"></td>
            <td th:text="${qv.getSouls()}"></td>
            <td>
                <a th:href="@{/answer/relativeAnswers/{gamePatternId}(gamePatternId = ${gamePatternId})}" class="btn btn-primary">
                    <span>Select</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<div th:replace="~{/components/common :: js-lb}"></div>
</html>