<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Register')}"></div>
<body class="bg-light">
<div class="container">
    <h3>Question editor</h3>
    <br>
    <div class="py-5 text-center">
        <div class="col-5 mx-auto">
            <form th:action="@{/question/update/{gamePatternId}/{questionId}(gamePatternId = ${gamePatternId}, questionId = ${id})}" class="needs-validation" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" th:placeholder="${question.getTitle()}"
                           name="title"/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" th:placeholder="${question.getContext()}"
                              name="context"></textarea>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" th:placeholder="${question.getWeight()}"
                           name="weight"/>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <label class="custom-file-label" for="fileImage">Choose file</label>
                        <input type="file" class="custom-file-input" id="fileImage"
                               name="fileImage"
                               accept="image/jpeg"
                               aria-describedby="inputGroupFileAddon01">
                    </div>
                </div>
                <select name="status">
                    <option th:each="statusOpt : ${T(com.company.archon.enums.GameStatus).values()}"
                            th:value="${statusOpt}" th:text="${statusOpt.value}"></option>
                </select>
                <p></p>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Next</button>
                <br/>
            </form>
        </div>
    </div>
</div>
</body>
<div th:replace="~{common :: js-lb}"></div>
</html>